body {
    margin: 0;
}
.top {
    height: 60px;
    display: flex;
    justify-content: flex-end;
    align-items: center;
    background-color: #D2E3C8;
}
a {
    color:#86A789;
    font-weight: 800;
    padding-right: 50px;
}
.container {
    display: flex;
    justify-content: center;
    align-items: center;
}
.logInItems {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;

    width: 450px;
    height: 450px;
}
h1 {
    font-size: 40px;
    color: #86A789;
}
input {
    width: 300px;
    height: 40px;
    font-size: 15px;
    padding-left: 10px;
}
input:focus {
    outline-color: #D2E3C8;
}
.login {
    width: 320px;
    height: 50px;
    font-size: 15px;
    color: #86A789;
    background-color: #D2E3C8;
    border: none;
}
.logout {
    width: 320px;
    height: 50px;
    font-size: 15px;
    color: #86A789;
    background-color: #D2E3C8;
    border: none;
    margin-top: 10px;
}